google-api-core
google-api-python-client
beautifulsoup4
ffmpeg
requests
yt-dlp
Django
asgiref
beautifulsoup4
Brotli
certifi
charset-normalizer
Django
dnspython
idna
mutagen
pytz
requests
soupsieve
sqlparse
tzdata
urllib3
websockets
django-cors-headers
whitenoise
yt-dlp 
gunicorn
pillow
