asgiref==3.8.1
beautifulsoup4==4.13.3
Django==5.1.7
Brotli==1.1.0
cachetools==5.5.2
certifi==2025.1.31
charset-normalizer==3.4.1
dnspython==2.7.0
ffmpeg==1.4
google-api-core
google-auth==2.38.0
google-auth-httplib2==0.2.0
googleapis-common-protos==1.68.0
gunicorn==23.0.0
httplib2==0.22.0
idna==3.10
mutagen==1.47.0
packaging==24.2
pillow==11.1.0
proto-plus==1.26.0
protobuf==5.29.3
pyasn1==0.6.1
pyasn1_modules==0.4.1
pyparsing==3.2.1
pytz==2025.1
requests==2.32.3
rsa==4.9
soupsieve==2.6
sqlparse==0.5.3
typing_extensions==4.12.2
tzdata==2025.1
uritemplate==4.1.1
urllib3==2.3.0
websockets==15.0
whitenoise==6.9.0
yt-dlp==2025.2.19

# Additional dependencies       
aiohttp==3.11.6
asyncio-throttle==0.1.1
django-cors-headers==4.7.0
google-api-python-client


