* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styling */
body {
    font-family: Arial, sans-serif;
    background-color: #000000;
    color: #ddd;
    text-align: center;
    margin: 0;
    padding: 0;
}

/* Main container */
.container {
    max-width: 800px;
    margin: 80px auto 200px auto;
    background-color: #000000;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    position: relative;
    flex: 1;
    overflow-y: auto;
    padding-bottom: 200px;
}

h1 {
    color: #ddd;
    margin-top: 0;
}

.thumbnail {
    width: 30%;
    height: auto;
    max-height: 120px;
    object-fit: cover;
    margin-right: 20px;
    border-radius: 5px;
    cursor: pointer;
}

/* Search container styling */
.search-container {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    background-color: #000000;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border-radius: 0;
}

#searchInput {
    flex: 1;
    padding: 16px;
    border: none;
    border-radius: 4px;
    font-size: 20px;
    background-color: #444;
    color: #fff;
    outline: none;
    box-sizing: border-box;
    max-width: 800px;
}

.search-btn {
    width: 80px;
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 20px;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.search-btn:hover {
    background-color: #0056b3;
}

.back-button {
    position: absolute;
    left: 20px; /* Distance from the left */
    top: -5px; /* Adjust vertical position */
    display: flex;
    align-items: center;
    font-size: 28px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #bc830a;
    cursor: pointer;
    text-decoration: none;
    padding: 8px 12px;
}

.playlist-title {
    font-size: 24px;
    margin-bottom: 20px;
    color: #ddd;
    margin-top: 15px;
    margin-bottom: 50px;
}

/* Reset default browser list styles */
ul, ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

ul.video-list {
    padding: 0;
}

.video-item {
    display: flex;
    align-items: center; 
    justify-content: flex-start; /* Aligns title & thumbnail close together */
    gap: 10px; 
    margin-bottom: 10px; 
    border-bottom: 1px solid #444;
    padding-bottom: 10px;
}

.video-info {
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    position: relative;
    transition: transform 0.2s ease, box-shadow 0.2s ease !important;
    transform: scale(1);
    margin-bottom: 18px;
}

.video-details {
    flex-grow: 1; /* Allows title to take available space */
    max-width: 80%;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
}

.video-title {
    flex: 1;
    text-align: left;
    cursor: pointer;
    font-size: 17px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Audio player styling */
.audioPlayer {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #2e2e2e;
    color: #ddd;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    z-index: 100;
    opacity: 1;
}

.audio-controls {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.audio-controls button {
    background: none;
    border: none;
    color: #ddd;
    font-size: 24px;
    cursor: pointer;
    margin: 0 10px;
    transition: color 0.3s ease;
}

.audio-controls button:hover {
    color: #007bff;
}

audio {
    width: 100%;
    margin-top: 10px;
}

.play-audio {
    display: inline-block;
    padding: 8px 16px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.play-audio:hover {
    background-color: #0056b3;
}

.play-audio.playing {
    background-color: #28a745;
}

.play-audio.playing:hover {
    background-color: #1e7e34;
}

.play-audio .audio-icon {
    font-size: 10px;
    margin-right: 5px;
}

.play-audio .audio-icon.playing {
    color: #28a745;
}

/* Highlight active loop button */
.loop-btn.active {
    color: #28a745;
}

/* Simplified style for the note */
.note {
    font-size: 14px;
    margin-top: 25px;
    margin-bottom: 60px;
}

/* Responsive styling */
@media (max-width: 600px) {
    .container {
        margin: 115px 0px 200px auto;
        padding: 20px;
        max-width: 100%;
    }

    .search-container {
        width: calc(100% - 1px);
        left: -2px;
        transform: none;
        border-radius: 0;
        padding: 36px 33px
    }

    #searchInput {
        padding: 10px;
        font-size: 16px;
    }

    .search-btn {
        width: 60px;
        padding: 11px;
    }

    .back-button {
        font-size: 22px;
    }

    .thumbnail {
        width: 30%; /* Adjust width for mobile */
        margin-right: 10px;
    }

    .video-item {
        flex-direction: column;
        align-items: flex-start;
    }

    .video-info {
        flex-direction: row;
        align-items: center;
        padding: 4px;
        width: 100%;
        box-sizing: border-box;
        margin-bottom: 18px;
    }

    .video-title {
        font-size: 14px; /* Adjust font size for better readability */
        overflow: hidden; /* Hide overflowing text */
        text-overflow: ellipsis; /* Show ellipsis for overflowed text */
    }

    .audioPlayer {
        left:-3px;
        padding: 10px;
    }

    .audio-controls {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 10px;
        margin-left: 45px;
    }

    .audioPlayer h2 {
        font-size: 14px;
    }

    .audio-controls button {
        font-size: 20px;
    }

    .play-audio {
        margin-top: 10px;
        padding: 8px 18px;
        font-size: 6px;
    }

    .note {
        font-size: 14px;
    }
}
